* {
	margin: 0;
	padding: 0;
}

.gobang {
	margin-left: 30px;
	margin-top: 10px;
	width: 642px;
	height: 642px;
	/*border:1px solid;*/
	background: url(../picture/bak.jpg);
	overflow: hidden;
}

body{
	height: 642px;
}

#can {
	margin: 0px auto;
	display: block;
}

#record {
	width: 380px;
	height: 150px;
	border: 1px solid #000;
	position: absolute;
	top: 150px;
	margin-left: 782px;
}

#record h3 {
	margin: 5px auto;
	text-align: center
}

#record p {
	margin-top: 15px;
	margin-left: 10px;
}

#userInf {
	width: 380px;
	height: 150px;
	
	position: absolute;
	top: 40px;
	margin-left: 852px;
}

#userInf img {
	width: 20px;
	height: 20px;
	
}
#userInf  h1{
	display: inline-block;
	margin: 0 20px 0 20px;
}
#userInf div {
	display: inline-block;
	
}


.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 652px;
	background: rgba(255,255,255,0.4);
	z-index: 1111;
	display: none;
}
.mask h1{
	font-size: 80px;
	width: 400px;
	display: block;
	margin: 200px auto;
}
 .reStart{
	display: block;
	width: 120px;
	height: 40px;
	/* position: absolute;
	top: 400px; */
	border: 0px ;
	margin: 100px auto;
	background: #3385ff;
	color:#fff;
	cursor: pointer;
}
.reStart:hover{
	background: rgb(43, 151, 187)
}
.giveUp{
	width: 125px;
	height: 30px;
	/* background: red; */
	position: absolute;
	left: 900px;
	top: 400px;
	border: 1px solid #000;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
button{

	width: 120px;
	height: 40px;
	position: absolute;
	top: 400px;
	border: 0px ;
	margin-left: 900px;
	background: rgb(71, 144, 168);
	color: #ffffff;
}
button:hover{
	background: rgb(43, 151, 187)
}